<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAPP">
        <activity
            android:name=".User.WebView"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCilAh4xnpGMU_YMAA32aB2vsDkfKIhqeg" />

        <activity
            android:name=".User.Map_User"
            android:exported="false"
            android:label="@string/title_activity_map_user" />
        <activity
            android:name=".Items_Food_User.Buy"
            android:exported="false" />
        <activity
            android:name=".Items_Food_User.Cart"
            android:exported="false" />
        <activity
            android:name=".User.EditProfileUser"
            android:exported="false" />
        <activity
            android:name=".User.UserMenu"
            android:exported="false" />
        <activity
            android:name=".Items_Food.AddFood"
            android:exported="false" />
        <activity
            android:name=".Items_Food.DeleteFood"
            android:exported="false" />
        <activity
            android:name=".Admin.EditProfileAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminMenu"
            android:exported="false" />
        <activity
            android:name=".ValidationLogin.Log_Error"
            android:exported="false" />
        <activity
            android:name=".ValidationLogin.Log_Valid"
            android:exported="false" />
        <activity
            android:name=".ValidationRegister.Reg_Error"
            android:exported="false" />
        <activity
            android:name=".ValidationRegister.Reg_Valid"
            android:exported="false" />
        <activity
            android:name=".Log_Reg.Login"
            android:exported="false" />
        <activity
            android:name=".Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>